<config>
  <camera1ip>192.168.0.111</camera1ip>
  <camera2ip>192.168.0.113</camera2ip>
  <input_width>960</input_width>
  <input_height>540</input_height>  <!-- 960  540 --> <!-- 640 360 -->
  <screen_width>1440</screen_width>
  <screen_height>810</screen_height>
  <icp_scale>800</icp_scale>
  <stl_file>knuckle+Cassete.stl</stl_file>
  <points_file>knuckle+Cassete.bin</points_file>
  <camera_file>prosilica_cameras2.txt</camera_file>
  <camera1_name>camera111_H</camera1_name>
  <camera2_name>camera113_H</camera2_name>
  <camera_binning>2</camera_binning>
  <minZ>300.0</minZ>
  <maxZ>4000.0</maxZ>
  <layers>256</layers>
  <ltrThr>0.01</ltrThr>
  <colorThr>0.1</colorThr>
  <gradThr>0.1</gradThr>
  <icp_max_iter>1000</icp_max_iter>
  <icp_trim>0.01</icp_trim>
  <plane_threshold>20</plane_threshold>
  <scene_threshold>40</scene_threshold>
  <!--<frame_width>1920</frame_width>
  <frame_height>1080</frame_height>
  <screen_width>1920</screen_width>
  <screen_height>1080</screen_height> -->
  <frame_width>960</frame_width>
  <frame_height>540</frame_height>  
  <!--<screen_width>1024</screen_width>
  <screen_height>768</screen_height>-->
  <swap_interval>-1</swap_interval>
  <full_screen>0</full_screen>
  <vertex_shader>Shaders\iter.vert</vertex_shader>
  <geometry_shader>Shaders\iter.geom</geometry_shader>
  <fragment_shader>Shaders\iter.frag</fragment_shader>
  <main_vertex_shader>Shaders\main.vert</main_vertex_shader>
  <main_fragment_shader>Shaders\main.frag</main_fragment_shader>
  <depth_vertex_shader>Shaders\depth.vert</depth_vertex_shader>
  <depth_fragment_shader>Shaders\depth.frag</depth_fragment_shader>
  <show_vertex_shader>Shaders\show.vert</show_vertex_shader>
  <show_fragment_shader>Shaders\show.frag</show_fragment_shader>
  <show2_vertex_shader>Shaders\show2.vert</show2_vertex_shader>
  <show2_fragment_shader>Shaders\show2.frag</show2_fragment_shader>
  <buffer_frame_number>1</buffer_frame_number>
</config>