<config>
  <camera1ip>169.254.0.111</camera1ip>
  <camera2ip>169.254.0.113</camera2ip>
  <input_width>1920</input_width>
  <input_height>1080</input_height>
  <camera_file>prosilica_cameras.txt</camera_file>
  <camera1_name>camera111F</camera1_name>
  <camera2_name>camera113F</camera2_name>
  <minZ>200.0</minZ>
  <maxZ>2000.0</maxZ>
  <layers>100</layers>
  <vertex_shader>iter.vert</vertex_shader>
  <fragment_shader>iter.frag</fragment_shader>
  <main_vertex_shader>main.vert</main_vertex_shader>
  <main_fragment_shader>main.frag</main_fragment_shader>-
  <buffer_frame_number>2</buffer_frame_number>
</config>