<config>
  <camera1ip>169.254.0.111</camera1ip>
  <camera2ip>169.254.0.113</camera2ip>
  <input_width>960</input_width>
  <input_height>540</input_height>  <!-- 960  540 --> <!-- 640 360 -->
  <screen_width>960</screen_width>
  <screen_height>540</screen_height>
  <!--<screen_width>1440</screen_width>
  <screen_height>810</screen_height>-->
  <icp_scale></icp_scale>
  <stl_file></stl_file>
  <points_file></points_file>
  <camera_file>prosilica_cameras2.txt</camera_file>
  <camera1_name>camera111_H</camera1_name>
  <camera2_name>camera113_H</camera2_name>
  <camera_binning>2</camera_binning>
  <minZ>300.0</minZ>
  <maxZ>4000.0</maxZ>
  <layers>256</layers>
  <swap_interval>1</swap_interval>
  <vertex_shader>iter.vert</vertex_shader>
  <geometry_shader>iter.geom</geometry_shader>
  <fragment_shader>iter.frag</fragment_shader>
  <main_vertex_shader>main.vert</main_vertex_shader>
  <main_fragment_shader>main.frag</main_fragment_shader>
  <depth_vertex_shader>Shaders\depth.vert</depth_vertex_shader>
  <depth_fragment_shader>Shaders\depth.frag</depth_fragment_shader>
  <show_vertex_shader>show.vert</show_vertex_shader>
  <show_fragment_shader>show.frag</show_fragment_shader>
  <show2_vertex_shader></show2_vertex_shader>
  <show2_fragment_shader></show2_fragment_shader>
</config>