<config>
  <camera1ip>169.254.0.111</camera1ip>
  <camera2ip>169.254.0.113</camera2ip>
  <input_width>960</input_width>
  <input_height>540</input_height>  <!-- 960  540 --> <!-- 640 360 -->
  <camera_file>prosilica_cameras.txt</camera_file>
  <camera1_name>camera111_H</camera1_name>
  <camera2_name>camera113_H</camera2_name>
  <minZ>200.0</minZ>
  <maxZ>3000.0</maxZ>
  <layers>100</layers>
<!--<frame_width>1920</frame_width>
  <frame_height>1080</frame_height>
  <screen_width>1920</screen_width>
  <screen_height>1080</screen_height> -->
  <frame_width>960</frame_width>
  <frame_height>540</frame_height>
  <screen_width>960</screen_width>
  <screen_height>540</screen_height>
  <!--<screen_width>1024</screen_width>
  <screen_height>768</screen_height>-->
  <vertex_shader>iter.vert</vertex_shader>  
  <fragment_shader>iter.frag</fragment_shader>
  <main_vertex_shader>main.vert</main_vertex_shader>
  <main_fragment_shader>main.frag</main_fragment_shader>
  <!--<main_vertex_shader>mainDBG.vert</main_vertex_shader>
  <main_fragment_shader>mainDBG.frag</main_fragment_shader>-->
  <buffer_frame_number>1</buffer_frame_number>
</config>